.App {
  text-align: center;
}

/* pagination Component */
.photo{
    margin-top: 0.5rem;
}

.picture{
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.5);
  object-fit:cover;
}

.pagination {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 5rem;
  color: red;
  list-style: none;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
}

.pagination-prev {
  text-decoration: none;
  padding-left: 0.5rem;
}
.pagination-next {
  text-decoration: none;
}
